@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      scroll-behavior: smooth;
    }
    .translate_full{
      transform: translateY(100%);
    }
  }